body {
    padding-top: 20px;
    margin: 0px; 
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
    
    overflow:hidden;
    background-repeat: no-repeat;
    background-size: cover;
}


.headline{
position:absolute;
top:0px;
width: 100%;
height:22.5%;
overflow: hidden;
z-index: -2;
opacity: 0.4;


}
img {
    max-width: 100%;           
    height: auto;       
    display: block;

}




#gamelevel {
    position: absolute; 
    display: grid; 
    top: 28%; 
    left: 28.3%;
    grid-template-columns: repeat(9, 55px);
    grid-template-rows: repeat(9, 55px); 
    border: 1px solid rgb(255, 255, 255); 
    opacity: 0; 
    animation: slideIn 1s ease-in-out forwards, fadein 1s ease forwards; 
    box-shadow: 0 0px 30px rgba(255, 255, 255, 0.5);
    
}


@keyframes fadein {
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(100%); 
    }

    100% {
        transform: translateY(0);
    }
}








.wall {
    background-image: url('textures/tex1.jpg'); /*в качестве текстуры стен использую фотку */
    background-size: cover;
}

.box {
    position: relative;/* относительное положение элемента, вместе с overflow: hidden; позволяет затемнить только внутреннюю часть коробки, а не весь экран */
    background-image: url('textures/tex2.jpg'); 
    background-size: cover;
    overflow: hidden;
}

.box::after{/* Этот код делает светлые коробки немного темнее. */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;/*определяет темную заливку, выше слоя с самой коробкой*/
}



.boxFinished {
    position: relative;
    background-image: url('textures/tex2.jpg'); 
    background-size: cover;
    overflow: hidden;
}

.boxFinished::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.203);
    z-index: 1;
}





.finish {
    background-color: lightgreen;
}

.player {
    background-image: url('textures/tex3.jpg');
    background-size: cover;
}

.empty {
    position: relative; 
    background-image: url('textures/tex1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.empty::after{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;/*определяет темную заливку, выше слоя с самой коробкой*/

}




.text1 {
    font-family: Tahoma;
    font-size: 100px;
    letter-spacing: -1.5px;
    word-spacing: 0px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 28.5%; 
    animation: rotate 20s linear infinite, move1 4s ease-in-out infinite;
}

.text1-shadow {
    font-family: Tahoma;
    font-size: 100px;
    letter-spacing: -1.5px;
    word-spacing: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 28.5%; 
    filter: blur(5px); 
    z-index: -1; 
    animation:  move1 4s ease-in-out infinite;
}

@keyframes rotate {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 0% 0%;
    }
}

@keyframes move1 {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-5px); 
    }
    100% {
        transform: translateY(0); 
    }
}








.bgCircles {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 2px solid white;
    filter: blur(1px);
    
    animation: float 5s linear infinite, fadeIn 5s ease;
    z-index: -1;
}

@keyframes float {
    0% {
        transform: translateX(-100vh) translateY(100vh);
    }
    100% {
        transform: translateX(100vh) translateY(-100px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1; 
    }

    50%{
        opacity: 0.8;
    }

    100% {
        opacity: 0; 
    }
}


#timer {

    position:absolute;
    top: 50vh;
    left: 80vw;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: bold;

}

#steps {

    position:absolute;
    top: 60vh;
    left: 84.3vw;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: bold;

}